// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.railsgirls{border: 10px solid blue; 
	
}

.field{padding:15px; color:purple; font-style: italic;
}
.title{border:12px; color: red; font-family: Impact;
}